<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.androidhive.materialdesign" >

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.PHONE_STATE" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity
            android:name=".BroadcastReceiver.MyBroadcastReceiver"
            />-->
        <activity
            android:name=".activity.RingAlarm"
            />
        <activity
            android:name=".activity.RingAlarm2"
            />
        <activity
            android:name=".activity.RingAlarm3"
            />

        <service android:name=".device.BluetoothLeService" android:enabled="true"/>
        <service android:name=".background.DeviceService" android:enabled="true"/>
        <receiver android:name=".background.DeviceDataReceiver" />
        <receiver android:name=".activity.MyBroadcastReceiver" />



    </application>

</manifest>
